.screen-container {
  display: grid;
  width: 100%;
  height: 75vh;
  max-height: 40vh;
  transition: all 300ms ease-in-out;
  grid-area: screen-container;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 50% 20% 30%;
  grid-template-areas:
    "history history"
    "hist hist"
    "res res";

  &.showed {
    position: relative;
    z-index: 100;
    animation-fill-mode: forwards;
    grid-template-rows: 70% 10% 20%;
    max-height: 75vh;
    opacity: 1;
  }

  h3 {
    font-family: $medium;
    color: $white;
    text-align: right;
    margin: 7px 10px 0 0;
    user-select: none;
    font-size: 5rem;
    grid-area: res;
    -webkit-transition: 1s color ease-in-out;
    -o-transition: 1s color ease-in-out;
    transition: 1s color ease-in-out;
  }

  h5 {
    font-family: $regular;
    color: $grey;
    text-align: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin: 7px 10px 0 0;
    font-size: 2rem;
    grid-area: hist;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: 1s color ease-in-out;
    -o-transition: 1s color ease-in-out;
    transition: 1s color ease-in-out;
  }

}